/* Core Normalizations */
html, body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1a;
  background-color: #fefefe;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
}

/* NoScript and MSIE < 10 Error Block*/
.fatality {
  display: flex;
  flex: 1;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
}

/* Image */
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  user-select: none;
  -ms-user-select: none;
}

.fatality img {
  width: 50vw;
  max-height: 50vh;
}

.fatality-msie img {
  width: auto;
  height: 640px;
}

.fatality h1, .fatality h2 {
  margin: 0;
  padding: 15px;
  font-weight: 700;
}

.fatality h1 {
  font-size: 36px
}

.fatality h2 {
  font-size: 28px;
}

