// Global Site Settings
$globalSiteWidth = 1420px
$globalSitePadding = 40px
$globalSiteBackground = #111

// Typography
$typeSizePageTitle = 36px
$typeSizePageSubTitle = 24px
$typeSizeNavi = 20px
$typoSizeLarge = 18px
$typoSizeBase = 16px
$typoSizeSmall = 14px
$typoColorBlack = #1a1a1a
$typoColorWhite = #fefefe
$typoColorRed = #ea1010
$typoColorGrey = #ccc
$typoColorDark = #333

// Transitions
$transitionLinkDuration = .5s
$transitionLinkEasing = ease-in-out
$transitionFadeDuration = .3s
$transitionCubicBezier = cubic-bezier(.25,.8,.25,1)

// Inputs
$inputCheckboxSize = 24px
